save-exact=true
package-lock=false
unsafe-perm=true
legacy-peer-deps=true

@gemunionstudio:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
