save-exact=true
package-lock=false
unsafe-perm=true
legacy-peer-deps=true

@paktolus:registry=https://npm.pkg.github.com/
@trejgun:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=a0a7c1a298abebd5338a2719f1a58c175def0b8d
