save-exact=true
package-lock=false
unsafe-perm=true
legacy-peer-deps=true
node-options=--max_old_space_size=4096


@gemunion:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
