name: Renovate status

on:
  pull_request:
    branches:
      - dev

jobs:
  renovate-status-check:
    if: ${{contains(github.head_ref, 'renovate')}}
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Install Packages
        run: npm i

      - name: Lerna Bootstrap
        run: lerna bootstrap --hoist --ignore-scripts

